<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Exercise Me</title>
</head>
<body>
    <div class="overlay" id="overlay" style="display: none">
        <div class="overlay-content">
            <h1>Your screen's aspect ratio is not supported,</h1>
            <h1>Please move to a mobile device.</h1>
            <img src="/static/images/resize-icon.svg" alt="Resize Icon" class="resize-icon">
        </div>
    </div>

    <nav id="nav">
        <div class="navbar-container">
            <a href="/" class="logo-link">
                <div class="logo">
                    <img src="/static/images/logo.png" alt="logo">
                    <h1>EXERCISE ME</h1>
                </div>
            </a>
            <div class="menu">
                <i class='bx bx-menu-alt-right hamburg' id="hamburger-menu"></i>
            </div>
        </div>
    </nav>

    <div class="side-menu" id="side-menu">
        <i class='bx bx-x' id="close-menu"></i>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>

    <div class="content" id="content">
    {% block content %}
    {% endblock %}
    </div>

    <script src="/static/scripts/ar-blocker.js"></script>
    <script src="/static/scripts/nav-menu.js"></script>
</body>
</html>