{% extends "base.html" %}
{% block content %}

    <section class="workout-determine">
        <div class="workout-heading">
            <h1 data-aos="fade-up" data-aos-duration="2000" data-aos-delay="0">GREAT!</h1>
            <h2 id="subheading" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="1000">Finally, your body fat %:</h2>
        </div>
        <div class="age-gender">
            <div class="custom-number-input" data-aos="fade-in" data-aos-duration="2000" data-aos-delay="2200">
                <input type="number" id="fat-input" value="0" style="width: 24rem">
                <p>%</p>
                <div class="arrows">
                    <i class='bx bxs-up-arrow' onclick="incrementFat()"></i>
                    <i class='bx bxs-down-arrow' onclick="decrementFat()"></i>
                </div>
            </div>
            <div class="custom-input" data-aos="fade-in" data-aos-duration="2000" data-aos-delay="3000">
                <button class="submit-age-gender-button" onclick="submitBodyFat()"><i class='bx bx-right-arrow-alt'></i></button>
            </div>
        </div>
    </section>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="/static/scripts/bodyfat.js"></script>
{%endblock%}
