{% extends "base.html" %}
{% block content %}

    <section class="home-banner">
        <div class="home-banner-container">
            <h1>Effective Workouts</h1>
            <p>Tailored just for you</p>
        </div>
    </section>

    <section class="home-content">
        <div class="heading">
            <h1>Let's Get Started.</h1>
        </div>
        <div class="sub-heading">
            <p>
                Discover your personalized workout program with expert guidance and tailored plans to achieve your fitness goals.
            </p>
        </div>
        <div class="button-container">
            <a href="/begin">BEGIN</a>
        </div>
    </section>
{%endblock%}